<h4>Author: <%= object.user.username %></h4>
<p>
  <%= object.content %>
</p>

<% if @current_user == object.user %>
<p><%= link_to "Edit", edit_post_comment_path(object) %></p>
<p><%= link_to "Delete", post_comment_path(object), :data => {:confirm => "Are you sure?", :method => "delete"} %></p>
<% end %>
<p><%= link_to "Home", root_path %></p>
