<div class="post-form">
  <%= form_for [@user, @post] do |f|%>
  <div class="">
    <%= f.label :title %>
  </div>
  <%= f.text_field :title %>
  <div class="">
    <%= f.label :content %>
  </div>
  <%= f.text_area :content %>
  <div class="">
    <%= f.submit 'Save' %>
  </div>
  <% end %>
</div>
