<div class="post">
  <p class="title">
    <%= @post.title %>
  </p>
  <%= render 'info', post: @post %>
  <p class="content">
    <%= @post.content %>
  </p>
</div>

<% if @user == @post.user %>
<p><%= link_to "Edit", edit_post_path(@post) %> <%= link_to "Delete", post_path(@post), :data => {:confirm => "Are you sure?", :method => "delete"} %></p>
<% end %>

<h3>Comments</h3>

<% if @user %>
<%= form_for [@post, @comment] do |f|%>
  <%= f.text_area :content %>
  <div class="">
    <%= f.submit 'Save' %>
  </div>
<% end %>

<% end %>

<div id="comments">
  <%= render partial: 'comments/comment', collection: @post.comments.order(created_at: :asc) %>
</div>
