<h1><%= @post.title %></h1>
<h4>Author: <%= @post.user.username %></h4>
<p>
  <%= @post.content %>
</p>

<% if @current_user == @post.user %>
<p><%= link_to "Edit", edit_post_path(@post) %></p>
<p><%= link_to "Delete", post_path(@post), :data => {:confirm => "Are you sure?", :method => "delete"} %></p>
<% end %>

<div id="comments">
  <%= render 'comments' %>
</div>

<% if @current_user %>
  <%=link_to "Add comment", new_post_comment_path(@post), id: 'new_post_comment_link', remote: true %>
<% end %>

<p><%= link_to "Home", root_path %></p>
