<!DOCTYPE html>
<html>
  <head>
    <title>Fever</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src= "http://player.twitch.tv/js/embed/v1.js"></script>
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <div class="container flash" align="middle">
      <% flash.each do |key, value| %>
        <%= content_tag(:p, value, class: key) %>
      <% end %>
    </div>

    <% if @stream %>
      <div class="container-fluid">
        <%= yield %>
      </div>
    <% else %>
      <div class="container">
        <%= yield %>
      </div>
    <% end %>

    <footer class="footer">
      <div class="container">
        <p class="text_muted">
          Tony Fabery
        </p>
      </div>
    </footer>
  </body>
</html>
